.element {
  width: 230px;
  height: 160px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*  background-color: rgba(48,103,145,.75);
  border: 2px solid rgba(127,255,255,0.25);*/
  border-radius: 8px;
  text-align: center;
  cursor: default;
  color: rgb(115,53,152);
  
}


/*.element:hover {
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
}*/


/* common style for each keyData in  element */
.element .keyData {
  position: absolute;
}


/* individual styles for each keyData in  element */

.element .keyData1 {
  top: 5px;
  left: 0px;
  right: 0px;
  font-size: 15px;
  font-weight: bold;
}

.element .keyData2 {
  top: 25px;
  left: 0px;
  right: 0px;
  font-size: 8px;
}

.element .keyData6 {
  top: 50px;
  left: 60px;
  right: 8px;
  height:95px;
  font-size: 9px;
  padding:3px 0px 6px 0px;
  overflow:hidden !important;
  text-overflow: ellipsis;
  border:1px solid #f9f9f9;
  border-radius:6px;
  box-shadow: 5px 0px 6px rgba(0,0,0,0.75);
}

.element .keyData12{
  top: 50px;
  left:1px;
  right: 175px;
  height:35px;
  font-size: 9px;

}

.element .keyData15{
  top: 90px;
  left:1px;
  right: 175px;
  height:35px;
  font-size: 9px;
}