html, body {
  height: 100%;
}

body {

  background-color: #1a82f7;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#1a82f7), to(#2F2727));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #2F2727, #1a82f7);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #2F2727, #1a82f7);

  /* IE 10 */
  background: -ms-linear-gradient(left, #2F2727, #1a82f7);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #2F2727, #1a82f7);

  margin: 0;
  font-family: Helvetica, sans-serif;;
  overflow: hidden;
}

a, p, h3, h6 {
  color: #fff;
  background: transparent;
}

h5 {
  color: #fff;
  padding-top: 35px;
}


#loading {
  width: 100px;
  height: 100px;
  /*background: url(img/loading.gif) no-repeat 5px 3px;*/
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#intro {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  #icons {
    position:absolute;
    width:200px;
    height:50px;
    bottom:50px;
    right:25%;
    left:50%;
    margin-left:-80px;
  }
}

@media (min-width: 768px) {
  #icons {
    position: absolute;
    bottom: 20px;
    left: 0px;
  }
}


button {
  color: #fff;
  background: transparent;
  outline: 1px solid rgba(48,103,145,.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(48,103,145,.5);
}
button:active {
  color: #000000;
  background-color: rgba(48,103,145,.75);
}