

<div class="elementData<%=i%>">
	<div class="header">
		<div class="keyData1 keyData"> <%=key1.value%> </div>
		<div class="keyData2 keyData"> 12/12/12</div>
	</div>

<div class="keyData12 keyData"> <%=key2.key%> : <%=key2.value%> </div>
<div class="keyData15 keyData"> <%=key3.key%> : <%=key3.value%> </div>
	<div class="keyData6 keyData"> Comments : this was great year ! how are you doing anyway </div>


	
</div>